@using BitirmeProjesiDeneme2.Models
@model List<Tarif>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<br />
<table class="table table-bordered">
    <tr>
        <th>ID</th>
        <th>AD</th>
        <th>AÇIKLAMA</th>
        <th>SİL</th>
        <th>GÜNCELLE</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.Id</td>
            <td>@item.Ad</td>
            <td>@item.Açıklama</td>
            <td><a href="/AdminTarif/TarifSil/@item.Id" class="btn btn-danger">Sil</a></td>
            <td><a href="/AdminTarif/TarifGuncelle/@item.Id" class="btn btn-warning">Güncelle</a></td>
        </tr>
    }
</table>
<a href="/AdminTarif/TarifEkle" class="btn btn-info">Yeni Ürün</a>

